.swiper-container {
    width: 100%;
    height: 200px;
    display: flex;
    
  }
  .swiper-slide {
   
    justify-content:baseline;
    align-items: center;
  }
  ion-avatar{
    margin: auto;
    margin-top: 5px;
  }
  p{
    text-align: center;
  }