<ion-content [fullscreen]="true">
  <div class="con">

    <div class="con1">
       <p> Entrer vos renseignements</p>
    </div>

    <div class="con2">

      <div>
        <ion-item>
          <ion-input type="text" label=" Nom" labelPlacement="floating" ></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-input type="text" label=" Prénom" labelPlacement="floating" ></ion-input>
        </ion-item>
      </div>
        
     <div>
      <ion-item>
        <ion-input type="email" label=" E-mail" labelPlacement="floating" ></ion-input>
      </ion-item>
     </div>

     <div>
      <ion-item>
        <ion-input type="password" label="Mot de passe" labelPlacement="floating"></ion-input>
      </ion-item>
     </div>

     <div class="conn">
      <ion-button  expand="block" fill="solid" size="small" shape="round">
        Continuer
      </ion-button>
        </div>
        
        </div>
      </div>
    
          
</ion-content>
